.shopsPageTitle {
  text-align: center;
  padding: 15px;
  font-weight: bold;
  font-size: 24px;
}

.shopInfo {
  padding: 0 10px;
  margin-bottom: 10px;
}

.shopList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  justify-items: center;
  align-content: center;
  list-style-type: none;
}
.noShops {
  text-align: center;
  color: tomato;
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
}
.shopTitle {
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 5px;
  font-weight: bold;
  font-size: 24px;
  color: #10b4b9;
  -webkit-text-stroke: 1px black;
}
.townAndYear {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.town {
  border: 1px solid #000;
  box-shadow: 2px 2px 5px #14e9f0;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
}
.year {
  border: 1px solid #000;
  box-shadow: 2px 2px 5px #14e9f0;
  border-radius: 5px;
  padding: 2px;
  margin: 5px;
}
.about {
  text-align: left;
  padding: 5px;
}
.shopImg {
  align-items: center;
  width: 300px;
  height: 250px;
  object-fit: cover;
}
.deleteButton {
  display: block;
  color: white;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: rgb(5, 73, 156);
  margin: 15px 5px;
  text-align: left;
}
.noShopImg {
  display: block;
  margin: 0 auto;
  text-align: center;
}
